<div class="form">
  <span *ngIf="messages.length === 0">Personne qui vous a contacté</span>
  <ul class="liste-message">
    <li class="message" *ngFor="let message of messages">
      <div class="message-header" *ngIf="message.sender === 'FINDER'">
        <span class="pseudo">Trouveur</span>
        <span class="date">{{ message.timestamp | date: 'dd/MM/yyyy HH:mm' }}</span>
      </div>
      <div class="contenu" *ngIf="message.sender === 'FINDER'">
        {{message.content}}
      </div>
      <div class="message-header" *ngIf="message.sender === 'OWNER'">
        <span class="date">{{ message.timestamp | date: 'dd/MM/yyyy HH:mm' }}</span>
        <span class="pseudo">Propriétaire</span>
      </div>
      <div class="contenu" *ngIf="message.sender === 'OWNER'">
        <span>{{message.content}}</span>
      </div>
    </li>
    <!-- <li class="message">
          <div class="message-header">
            <span class="date">10/07/2024</span>
            <span class="pseudo">Propriétaire</span>
          </div>
          <div class="contenu">
            <span>Bonjour merci pouvez vous le déposer au centre de police ?</span>
          </div>
        </li> -->
  </ul>
  <div class="zone-entree">
    <input [(ngModel)]="messageContent" placeholder="Votre message...">
    <button class="submit" (click)="sendMessage()">Envoyer</button>
  </div>
  <!-- <div *ngFor="let message of messages">
    {{ message.content }}
  </div> -->
</div>
<!-- <input [(ngModel)]="messageContent" placeholder="Type a message..." />
  <button (click)="sendMessage()">Send</button> -->
