<div class="sidebar">
    <div class="user-info">
      <img src="https://i.pinimg.com/236x/d7/74/ec/d774ecff8fecc6100e9043db67f36997.jpg" alt="User Avatar">
      <p>Emily Smith</p>
    </div>
    <ul>
      <li routerLinkActive="active"><a routerLink="/account"> 
        <img src="">Compte <span class="chevron-sidebar">></span> </a>
      </li>
      <li routerLinkActive="active"><a routerLink="/portfolio"> 
        <img src="">Portfolio <span class="chevron-sidebar">></span></a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/objects"> <img src="">Mes objets <span class="chevron-sidebar">></span></a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/exit"> <img src="">Exit <span class="chevron-sidebar">></span></a>
      </li>
    </ul>
  </div>
